.arrow{
    right:0px;
    top:9px;
}
//toolbar
.toolbar_content{
    width:980px;
}
//footer
.footer{
    background:white;  
}
.foot_service ul{
    width: 980px;
}

//header
.header{
    width:980px;
    padding-top: 20px;
    padding-bottom: 36px;
    margin:0 auto;
    height: 69px;
    border-bottom: none;
}
.header img{
    float: left;
}
.header h1{
     float: left;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color:#555555;
    font-weight: normal;
    padding-left: 16px;
    margin-top: 20px;
    border-left: 1px solid #e6201a;
}

//login
.login{
    width:980px;
    margin:0 auto;
}
.login .login_left{
    float: left;
    padding:20px;
}
.login .login_right{
    float: right;
    width:322px;
    border-top: 3px solid #e83029;
    padding-left: 30px;
    padding-right: 30px;
}
.login_right .tit{
    height: 40px;
    line-height: 40px;
}
.login_right .tit>h3{
    font-size: 16px;
    color:#555555;
    float: left;
}
.login_right .tit>p{
    float: right;
    font-size: 12px;
    color:#555555;
}
.login_right .tit>p>a{
    color:#e83029;
}
.login_right a:hover{
    text-decoration: underline;
}
.login_right>p{
    font-size: 12px;
    color:#666666;
    margin-top: 10px;
    margin-bottom: 6px;
}
.login_right>input{
    width:310px;
    height: 38px;
    border:1px solid #ccc;
    outline: none;
    padding:0 5px;
}